<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uama.webview" >
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity android:name=".ScanActivity"/>
        <activity android:name=".matisse.ImagePreViewActivity"/>

        <provider
            android:name="com.uama.webview.MatisseCaptureProvider"
            android:authorities="${applicationId}.matisseCaptureProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/matisse_capture_provider"/>
        </provider>
    </application>
</manifest>
